        /* Custom styles */
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f8f9fa;
        }
        .navbar {
            background-color: #343a40;
        }
        .navbar-brand {
            color: black;
            font-weight: bold;
        }
        .nav-link {
            color: black;
        }
        
        .sidebar {
            background-color: #eaedf0;
            color: black;
            padding: 20px;
            margin-bottom: 20px;
        }

        .sidebar-menu {
            list-style-type: none;
            padding: 0;
        }

        .sidebar-item {
            margin-bottom: 10px;
        }

        .expand-btn {
            background: none;
            border: none;
            color: black;
            font-size: 17px;
            cursor: pointer;
            padding: 0;
            margin: 0;
            outline: none;
            font-weight: 400;
        }

        .expand-btn:focus {
            outline: none;
        }

        .sub-menu {
            display: none;
            padding-left: 20px;
        }

        .sub-menu li {
            margin-bottom: 5px;
        }

        .sub-menu li a {
            color: black;
            text-decoration: none;
            font-size: 15px;
        }

        .sidebar-item.active .sub-menu {
            display: block;
        }

        .content {
            background-color: #fff;
            padding: 20px;
        }

        .container{
            max-width: 1400px;
        }

        .br-footer {
            position: fixed;
            left: 0%;
            bottom: 0%;
        }
        .br-footer {
            background-color: #343a40;
            color: #fff;
            width: 100%;
            box-shadow: 0px 0px 4px 0px #ccc;
            padding: 10px;
            font-size: 14px;
            z-index: 10;
        }
        .footer-left {
            width: 46%;
            text-align: left;
        }
        .mg-b-2 {
            margin-bottom: 2px;
        }
        
        .br-footer .footer-right {
            margin-top: 0;
        }
        .align-items-center {
            align-items: center !important;
        }

        .d-flex {
            display: flex !important;
        }

        .br-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        a {
            text-decoration: none; /* Remove underline */
            color: black; /* Set text color to black */
        }
        
        a:hover {
            color: rgb(56, 55, 55);
            text-decoration: none;
        }

        .dashboard p {
            color: black;
            line-height: 1.6;
            margin-top: 20px;
        }

        img {
            width: 800px; /* Set a fixed width */
            height: auto;
            margin-top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }